.firmFacts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  width: min(100%, 1200px);
  margin: 100px auto;
  padding: 20px;

  & > :nth-child(1) {
    grid-column: 1 / 2;
    grid-row: span 2;
  }

  & > :nth-child(n + 2) {
    grid-column: auto;
    grid-row: auto;
  }
}

@media (max-width: 1024px) {
  .firmFacts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .firmFacts {
    grid-template-columns: 1fr;
  }
}
